* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 166, 255, 0.44);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.menu {
    background-color: #f8f9fa;
    width: 20%;
    padding: 20px;
    border-right: 1px solid #ddd;
}

main {
    background-color: #ffffff;
    width: 80%;
    padding: 20px;
}

footer {
    background-color: #757373;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px;
}

.logo {
    color: white;
}

#main {
    color: rgba(0, 166, 255, 0.44);
}